
h1{
  padding: 0;
  margin: 0;
}
#myContainer {
  width: 500px;
  height: 500px;
  /*position: relative;*/
  background: black;

}

.rocket{
  width: 35px;
  height: 70px;
  top: 494px;
  left: 225px;
  background-color: gray;
  position: absolute;
}


.column {
  position: relative;
  height: 100%;
  width: 10%;
  float: left;
  overflow: hidden;
}

.star {
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  background: yellow;
  left: 50%;
  transform: translate(-50%, 0);
}
