body{
  background-color: black;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
}
h1{
  color: white;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 60px;
}
h2{
  font-size: 45px;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}
/*h3{
  font-size: 45px;
}*/
P{
  font-size: 20px;
}

.space{
  text-align: center;
  margin-top: 40px;
  border-top: dashed;
  border-width: 2px;
  border-color: #4031ea;
  padding: 15px;
}
main{
  width: 1040;
  margin: 0 auto;
}
.gameArea{
  margin: 0 auto;
  width: 1072px;
  height: 600px;
}

#myContainer {
  float: left;
  width: 500px;
  height: 500px;
  position: relative;
  background-image: url(https://media0.giphy.com/media/l3q2RgN7WUjeUUXm0/giphy.gif);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: black;
  border: solid;
  border-width: 2px;
  border-color: #4031ea;
  border-radius: 2%;
  margin: 0px auto;
}

.sideBoard{
  width: 280px;
  height: 500px;
  border: solid;
  border-width: 2px;
  border-color: #4031ea;
  border-radius: 8px;
  color: white;
  float: left;
  margin: 0px auto;
  /*padding: 10px;*/
}

/*#instructions {
text-align: left;
}

#scoreBoard{
}*/

#start, #reset{
  position: absolute;
  z-index: 1;
  width: 250px;
  height: 75px;
  border: solid;
  border-width: 2px;
  border-color: #4031ea;
  border-radius: 8px;
  color: white;
  background-color: black;
  font-size: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 223px;
}
#reset{
  visibility: hidden;
}
.gameOver{
  visibility: hidden;
  background-color: #000;
  width: 100%;
  height: 200px;
  padding: 0;
  margin:0 auto;
  position: absolute;
  text-align: center;
  font-size: 100px;
  z-index: 2;
  border-radius: 8px;
  color: white;
  line-height: 200px;
}


.column {
  position: relative;
  height: 100%;
  width: 10%;
  float: left;
  overflow: hidden;
}

.star {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

#rocket{
  width: 50px;
  height: 100px;
  top: 250px;
  left: 225px;
  position: absolute;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 15%;
  /*background: red;*/
}

footer{
  margin: 0 auto;
  color: white;
  width: 1072px;
}
